* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

/*styles to the whole page body*/
body {
    font-family: 'Work Sans', sans-serif;
    line-height: 1.6;
    background-color: #202020; 
    color: #e7e7e7;
    
}
