* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

/*styles to the whole page body*/
body {
    font-family: 'Work Sans', sans-serif;
    line-height: 1.6;
    background-image: linear-gradient(
        to right, 
        #313131,     
        #323232,    
        #353535,
        #3E3E3E,
        #373737,
        #323232      
    );
    color: #e7e7e7;
}
