nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #181818;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='18' viewBox='0 0 100 18'%3E%3Cpath fill='%23000000' fill-opacity='1' d='M61.82 18c3.47-1.45 6.86-3.78 11.3-7.34C78 6.76 80.34 5.1 83.87 3.42 88.56 1.16 93.75 0 100 0v6.16C98.76 6.05 97.43 6 96 6c-9.59 0-14.23 2.23-23.13 9.34-1.28 1.03-2.39 1.9-3.4 2.66h-7.65zm-23.64 0H22.52c-1-.76-2.1-1.63-3.4-2.66C11.57 9.3 7.08 6.78 0 6.16V0c6.25 0 11.44 1.16 16.14 3.42 3.53 1.7 5.87 3.35 10.73 7.24 4.45 3.56 7.84 5.9 11.31 7.34zM61.82 0h7.66a39.57 39.57 0 0 1-7.34 4.58C57.44 6.84 52.25 8 46 8S34.56 6.84 29.86 4.58A39.57 39.57 0 0 1 22.52 0h15.66C41.65 1.44 45.21 2 50 2c4.8 0 8.35-.56 11.82-2z'%3E%3C/path%3E%3C/svg%3E");
    width: 100%;
    height: 5em;
    border-bottom: 1px solid rgb(78, 78, 78);
}
nav .logo{
    font-size: clamp(2rem, 4vw, 4rem);
    font-weight: 750;
}
nav .logo .logo-link{
    color: white;
    text-decoration: none;
}
nav .nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    max-width: 500px;
    padding: .7em 1em;
    background-color: rgb(19, 19, 19);
    border-radius: 24px;
    border: 2px solid rgb(78, 78, 78);
}
nav .nav-links .links{
    color: whitesmoke;
    text-decoration: none;
    font-size: clamp(1rem, 1.2vw, 3rem);
}
nav .nav-links .links.active{
    border: 1.5px solid rgb(78, 78, 78);
    padding: .3em .5em;
    border-radius: 16px;
}
nav .user-part{
    display: flex;
    flex-direction: rows;
    justify-content: space-around;
    align-items: center;
    width: 22%;
    max-width: 400px;
}
nav .user-part .action{
    border: 1px solid rgb(78, 78, 78);
    border-radius: 12px;
    padding: .1em .2em;
    font-size: clamp(1rem, 1.3vw, 2rem);
    font-weight: 600;
    align-items: center;
    background-color: rgb(19, 19, 19);
}
nav .user-part button{
    border: 1px solid rgb(78, 78, 78);
    border-radius: 10px 10px 10px 10px;
    background-color: transparent;
    padding: .3em;
    margin-left: 7px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .hamburger {
        display: block;
        position: absolute;
        top: 1.5em;
        right: 1.5em;
    }

    nav .nav-links {
        display: none;
    }

    nav .user-part {
        display: none;
    }

    nav.nav-open .nav-links {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 5em;
        left: 0;
        width: 100%;
        background-color: #181818;
        border-top: 1px solid rgb(78, 78, 78); 
        padding: 1em;
    }

    nav.nav-open .user-part {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 15em;
        left: 0;
        width: 100%;
        background-color: #181818;
        padding: 1em;
    }

    nav.nav-open .nav-links .links {
        margin-bottom: 1em;
    }

    nav.nav-open .user-part .action {
        margin-bottom: 1em;
    }
}