.product-grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem; /* space between items */
    margin-top: 1em;
}
.product-grid .product{
    height: auto;
}
.product-grid .product{
    border: 1px solid white;
    border-radius: 10px;
    height: 73vh;
}
.product-grid .product .image-container{
    width: 100%;
    height: 45vh;
}

.product-grid .product img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 10px 10px 0px 0px;
}
.product-grid .product .product-name{
    font-size: clamp(1.2rem, 1.2vw, 3rem);
    padding: .5rem .3rem;
}
.product-grid .product .product-price{
    color: rgb(141, 141, 141);
    font-size: clamp(0.7rem, 1.2vw, 1.6rem);
    padding: .5rem .3rem;
    margin-bottom: 1rem;
    
}
.product-grid .product .product-more-cta{
    border-top: 1px solid white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: .5rem .3rem;
}
.product-grid .product .product-more-cta .more{
    border: 1px solid rgb(46, 144, 255);
    background-color: transparent;
    font-size: 0.9rem;
    color: white;
    padding: 0.6em .5em;
    border-radius: 5px;
    transition: all .3s ease;
}
.product-grid .product .product-more-cta .more:hover{
    background-color: rgba(46, 143, 255, 0.1);
}

.product-grid .product .product-more-cta .cta{
    padding: 0.6em .5em;
    border-radius: 5px;
    background-color: rgb(93, 169, 255);
    border: none;
}